<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <!-- Inclusion de Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/cerulean/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/chatStyle.css" rel="stylesheet">

<body>
    <!-- Container for popups -->
    <div id="popupContainer">
    </div>
    <div class="container">
        <h1 class="text-center my-5">Main page</h1>
        <a type="button" class="btn btn-info" href="/create/chat"> Create a chat</a>

        <!-- List for all public chats -->
        <h2>Public chat</h2>
        <div id="tab_chat_general"></div>

        <!-- List for all private chats -->
        <h2>Private chat</h2>
        <div id="tab_chat_private"></div>

        <h2>General stats </h2>
        <div id="general_stats">
            <h3>Top 5 most active users</h3>
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nom</th>
                            <th scope="col">Nombre de messages</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% for(const user of mostActiveUsers){ %>
                        <tr class="table-primary">
                            <td>
                                <a href="/user/<%- user.pseudo %>"><%- user.pseudo %></a>
                            </td>
                            <td>
                                <%= user.count %>
                            </td>
                        </tr>
                    <% }%>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.js"></script>
<script src="/static/js/messageUtils.js"></script>
<script>
    // Create socket connection for the user
    const socketHost = "<%= socketHost %>:<%= listenPort %>";
    const currentUser = JSON.parse(sessionStorage.getItem("user"))
    if(!currentUser){
        window.location.replace("/connexion")
    }
    const socket = io(`${socketHost}?userid=${currentUser._id+""}`)

    let id_user = currentUser["_id"]
    axios.get("/api/chat/")
        .then(function (response) {
            data = response["data"]

            let element_html = document.querySelector("#tab_chat_general")
            let html_tab = "<table class='table table-hover'><thead><tr><th scope='col'>Nom</th><th scope='col'>Number of  messages</th><th scope='col'>Last user sent messages</th><th scope='col'>Time last messages sent</th></tr></thead><tbody>"

            for (const iterator of data) {
                if (iterator["public"] == true) {
                    var numb_mess = 0
                    var last_mess_time = ""
                    var last_mess_user = ""

                    axios.get("/api/chat/" + iterator["_id"] + "/messages")
                        .then(function (response) {

                            let data_2 = response["data"]
                            if (Object.keys(data_2).length == 0) {
                                html_tab += "<tr class='table-primary'>"
                                html_tab += "<th scope='row'><a href='/chat/" + iterator["_id"] + "'>" + iterator["name"] + "</a></th>"
                                html_tab += "<td>0</td>"
                                html_tab += "<td>No messages found</td>"
                                html_tab += "<td>No messages found</td>"
                                html_tab += "</tr>"
                                element_html.innerHTML = html_tab

                            } else {
                                numb_mess = Object.keys(data_2).length
                                console.log(data_2[numb_mess - 1])
                                last_mess_user = data_2[numb_mess - 1]["from"]["pseudo"] + "" + data_2[numb_mess - 1]["from"]["specialId"]
                                let last_mess_time = data_2[numb_mess - 1]["timestamp"]
                                let last_mess_time2=last_mess_time.split("T")
                                console.log(last_mess_time2)
                                let last_mess_time3=last_mess_time2[1].split(".")
                                html_tab += "<tr class='table-primary'>"
                                html_tab += "<th scope='row'><a href='/chat/" + iterator["_id"] + "'>" + iterator["name"] + "</a></th>"
                                html_tab += "<td>" + numb_mess + "</td>"
                                html_tab += "<td>" + last_mess_user + "</td>"
                                html_tab += "<td>" + last_mess_time2[0] +" "+last_mess_time3[0] +"</td>"
                                html_tab += "</tr>"
                                element_html.innerHTML = html_tab

                            }
                        })
                }
            }
            html_tab += "</tbody>"

            element_html.innerHTML += html_tab

        })
        .catch(function (error) {
            console.log(error["error"]);
        })

    console.log(id_user)

    axios.get("/api/user/")
        .then(function (response) {
            let data = response["data"]
            console.log(data)
            let element_html = document.querySelector("general_stats")
            let html_tab = "<table class='table table-hover'><thead><tr><th scope='col'>Nom</th><th scope='col'>Number of  messages</th><th scope='col'>Last user sent messages</th><th scope='col'>Time last messages sent</th></tr></thead><tbody>"
            let len_data = data.length
            let tab_res = []

            for (const iterator of data) {
                axios.get("/api/user/" + iterator["_id"] + "/messages")
                    .then(function (response) {
                        let data_2 = response["data"]
                        if (data_2["error"] == undefined) {
                            tab_res.push(data_2.length)
                        }
                    })
            }
            console.log(tab_res.length)
            console.log(len_data)
            if (tab_res.length == len_data) {
                console.log("dsfdvf")
                console.log(tab_res)
            }

            html_tab += "</tbody>"

            element_html.innerHTML += html_tab

        })
        .catch(function (error) {
            // handle error
            console.log(error["error"]);
        })

    axios.get("/api/user/" + id_user + "/chats")
        .then(function (response) {
            data = response["data"]
            console.log(data)
            let element_html = document.querySelector("#tab_chat_private")
            let html_tab = "<table class='table table-hover'><thead><tr><th scope='col'>Nom</th><th scope='col'>Number of  messages</th><th scope='col'>Last user sent messages</th><th scope='col'>Time last messages sent</th></tr></thead><tbody>"

            for (const iterator of data) {
                if (iterator["public"] == false) {
                    var numb_mess = 0
                    var last_mess_time = ""
                    var last_mess_user = ""

                    axios.get("/api/chat/" + iterator["_id"] + "/messages")
                        .then(function (response) {
                            let data_2 = response["data"]

                            if (Object.keys(data_2).length == 0) {
                                html_tab += "<tr class='table-primary'>"
                                html_tab += "<th scope='row'><a href='/chat/" + iterator["_id"] + "'>" + iterator["name"] + "</a></th>"
                                html_tab += "<td>0</td>"
                                html_tab += "<td>No messages found</td>"
                                html_tab += "<td>No messages found</td>"
                                html_tab += "</tr>"
                                element_html.innerHTML = html_tab

                            } else {
                                numb_mess = Object.keys(data_2).length
                                console.log(data_2[numb_mess - 1])
                                let last_mess_time = data_2[numb_mess - 1]["timestamp"]
                                let last_mess_time2=last_mess_time.split("T")
                                let last_mess_time3=last_mess_time2[1].split(".")
                                let last_mess_user = data_2[numb_mess - 1]["from"]["pseudo"] + "" + data_2[numb_mess - 1]["from"]["specialId"]
                                html_tab += "<tr class='table-primary'>"
                                html_tab += "<th scope='row'><a href='/chat/" + iterator["_id"] + "'>" + iterator["name"] + "</a></th>"
                                html_tab += "<td>" + numb_mess + "</td>"
                                html_tab += "<td>" + last_mess_user +"</td>"
                                html_tab += "<td>" + last_mess_time2[0] +" "+last_mess_time3[0] +"</td>"
                                html_tab += "</tr>"
                                element_html.innerHTML = html_tab
                            }
                        })
                }
            }
            html_tab += "</tbody>"
            element_html.innerHTML += html_tab
        })
        .catch(function (error) {
            // handle error
            console.log(error["error"]);
        })
    
    socket.on("new message", async function(response){
        createPopup(response.to.name)
    })
</script>
</html>